#Wikiplus-CodeMirror {
	border: 1px solid #c8ccd1;
	line-height: 1.3;
	clear: both;
	/* fix mobile select */
	-webkit-user-select: auto;
	user-select: auto;
}
#Wikiplus-CodeMirror .CodeMirror-gutter-wrapper {
	/* fix iOS select-all */
	-webkit-user-select: none;
	user-select: none;
}
div.Wikiplus-InterBox {
	font-size: 14px;
	z-index: 100;
}
.skin-minerva .Wikiplus-InterBox {
	font-size: 16px;
}
.cm-trailingspace {
	text-decoration: underline wavy #f00;
}
div.CodeMirror span.CodeMirror-matchingbracket {
	box-shadow: 0 0 0 2px #9aef98;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
	box-shadow: 0 0 0 2px #eace64;
}
#Wikiplus-highlight-dialog .oo-ui-messageDialog-title {
	margin-bottom: .28571429em; /* stylelint-disable-line number-max-precision */
}
#Wikiplus-highlight-dialog .oo-ui-flaggedElement-notice {
	font-weight: normal;
	margin: 0;
}
.CodeMirror-contextmenu .cm-mw-template-name {
	cursor: pointer;
}
.skin-moeskin #ca-more-actions li > a {
	display: inline-block;
	padding: .4rem .8rem;
	line-height: 1.5;
}
.skin-moeskin .oo-ui-windowManager-modal > .oo-ui-dialog {
	z-index: 101;
}

/* search.js */
.Wikiplus-Btn {
	line-height: 1.4;
}
.Wikiplus-Quickedit-Search-Div {
	margin: 7px 0 5px;
}
.Wikiplus-Symbol-Btn {
	font-size: 20px;
	margin: 7px;
	vertical-align: middle;
	cursor: pointer;
}
.Wikiplus-Quickedit-Search {
	width: 50%;
	padding: revert;
	border: revert;
	background: revert;
	vertical-align: middle;
	font: inherit;
	box-sizing: border-box;
}
textarea.Wikiplus-Quickedit-Search {
	display: inline;
	resize: none;
}
.cm-search {
	background-color: rgba(255, 192, 203, .51);
}

/* matchtags.js */
.cm-matchingtag {
	background-color: #c9ffc8;
}
.cm-nonmatchingtag {
	background-color: #fff0a8;
}

/* fold.js */
.CodeMirror-sizer {
	overflow: visible;
}
.CodeMirror-tooltip {
	position: absolute;
	z-index: 101;
	cursor: pointer;
	background-color: #ffd;
	border: 1px solid;
	padding: 0 1px;
	font-size: 10pt;
	line-height: 1.2;
}
.CodeMirror-widget-unfold {
	cursor: pointer;
	border: 1px dotted;
}

/* lint.js */
.CodeMirror-line span.CodeMirror-lint-mark-warning {
	background: #ffbf00;
	color: #fff;
	caret-color: #000;
}
.CodeMirror-line span.CodeMirror-lint-mark-error {
	background: #d33;
	color: #fff;
}
.CodeMirror-lint-scroll-warn {
	background: #fc3;
	border-top: 1px solid #fc3;
	border-bottom: 1px solid #fc3;
	box-sizing: border-box;
}
.CodeMirror-lint-scroll-error {
	background: #d33;
	border-top: 1px solid #d33;
	border-bottom: 1px solid #d33;
	box-sizing: border-box;
}
#wphl-lint-panel {
	background: #f7f7f7;
	border: 1px solid #c8ccd1;
}
.wphl-lint-subpanel {
	margin-left: 1ch;
	cursor: pointer;
}
.wphl-lint-count {
	display: inline-block;
	width: 5ch;
	padding: 1px 0 1px 1ch;
}

/* markSelection.js */
.CodeMirror-line span.CodeMirror-selectedtext {
	background: #d7d4f0;
}
